// Colors
$red100: #d4021d;
$yellow100: #ffb432;
$green100: #326400;
$blue100: #003264;

$black100: #222;
$black50: #333;

$grey400: #777;
$grey300: #9e9e9e;
$grey200: #c4c4c4;
$grey100: #e6e6e6;
$grey50: #eee;
$grey25: #f6f6f6;

$white100: #fff;

//Semantic colors
$error-color: #e6344b;
$warning-color: #ffb432;
$info-color: #003264;
$success-color: #326400;

// Font-sizes
$font50: 0.75; // 12px
$font100: 0.875; // 14px
$font150: 1; // 16px
$font200: 1.125; // 18px
$font300: 1.5; // 24px
$font400: 2.25; // 36px

@mixin font-size($font-size) {
    $line-height: $font-size * 1.5;

    font-size: ($font-size * 16) + px;
    line-height: ($line-height * 16) + px;
    font-size: $font-size + rem;
    line-height: $line-height + rem;
}
